/JavaTest/nbproject/private/
/JavaTest/build/
/Encuentro1y2/nbproject/private/
/Encuentro1y2/build/
/Encuentro_3_4_5/nbproject/private/
/Encuentro_3_4_5/build/
/Encuentros_7_8/nbproject/private/
/Encuentros_7_8/build/